.Total {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('');
    display: block;
    
    
}

.hfilm1 {
    width: 1330px;
    height: 660px;
    margin-left: 0px;
    text-align: left;
}

.Nfilm1 {
    display: inline;
    margin-left: 80px; 
    font-size: 25px;
    color: white;
    
}

.jumbotron{
    margin-top: 100px;
    background-color:rgb(25, 25, 25) ;
}

.actor{
    background-color: rgb(201, 198, 198);
    height:430px
}