

.Body{
    background: rgb(0, 0, 0);
    height: 400px;
    
}

.jumbotron{
    background-color: black;
    margin-bottom: 0px;
    margin-top: 30px;  
}

.dropdown {
    display:inline-block;
    
    
}

.Dropdownbutton {
    width: 150px;
    color:#e30808;
    border-radius: 10px;
    margin-left: 40px;
    background:none;
    border:none;
    float: right;
    margin-top: 20px;
    font-size: 30px;
}

h1{
    text-align: center;
}

h1{
    color: aliceblue;
}

.a2{
    display: flex;
    justify-content: center;
}

.dropdown .Dropdownbutton:hover{
    background: #e30808;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px #e30808,
                0 0 25px #ff0000,
                0 0 50px #e30808,
                0 0 100px #e30808;
}

.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: rgb(0, 235, 235);
}

.a3{
    width:full;
    height: 20px;
    background-color: rgb(156, 10, 10);
    margin-top: 20px;   
}

.a4{
    width:full;
    height: 20px;
    background-color: rgb(69, 65, 65); 
    margin-top: 0;
}

.footer{
    margin-top: 0;
    width: full;
    height: 350px;
    background-color: rgb(69, 65, 65);
    color: white;
    margin-bottom: 0;
}

.FA{
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}

.icons{
    width: 50px;
}

.words{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    width: 600PX;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border:border-box; /* Remove borders */
    border-color: rgb(172, 168, 151);
    outline: none; /* Remove outline */
    background:none; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    width: 70px;
    height:80px
  }
  
  #myBtn:hover {
    background-color: #e60c0c; /* Add a dark-grey background on hover */
  }

.b1{
    margin-top: 0;
    margin-bottom: 0;
    color: azure;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  display: block;
  float: right;
  margin-right: 40px;
  height:400px;
  margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 600px;
  height:400px
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer a{
  text-decoration: none;
}

.footer a:hover{
  color:#f2f2f2;
  text-shadow: 0 0 5px #1308e3,
  0 0 25px #0000ff,
  0 0 50px #2c08e3,
  0 0 100px #3708e3;;
}